* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 250px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.header_text {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 200%;
}

.navbar {
  width: 100%;
  height: 80px;
  margin: auto;
  text-align: center;
  font-size: 200%;
}

.middevlak {
  width: 100%;
  height: 1000px;
}

.footer {
  width: 100%;
  height: 100px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
  justify-content: center;
  font-size: 200%;
}

.textvak1 {
  width: 80%;
  height: 700px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  font-size: 150%;
}

.text1 {
  border: solid 30px darkgray;
}

.text2 {
  border: solid 30px gray;
}

.textvak2 {
  width: 80%;
  height: 100px;
  margin: auto;
  margin-bottom: 100px;
  font-size: 150%;
}

.blokken {
  border: solid black 3px;
  height: 300px;
  flex-wrap: wrap;
  width: 99.59999998%;
}

.blok1 {
  width: 159px;
  height: 50%;
}

.blok2 {
  width: 159px;
  background-color: black;
  height: 50%;
}

.background_red {
  background-color: red;
}

.background_darkred {
  background-color: darkred;
}

.background_grey {
  background-color: gray;
}

.background_darkgrey {
  background-color: darkgray;
}

.flex {
  display: flex;
}
